#cassette {
  margin: auto;
  width: 500px;
  height: 300px;
  background-image: url(cassettes/cassette1.gif);
  background-repeat: no-repeat;
  background-position: bottom;
  animation: giffy 0.5s infinite steps(1);
  animation-play-state: paused;
  z-index: 100;
  margin-bottom: 10px;
}

#cassette:hover {
  animation-play-state: running;
}

#shadow {
  width: 500px;
  height: 400px;
  top: 60px;
}

#radios {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
#radio {
  width: 400px;
  height: 300px;
  left: 50px;
  z-index: 1;
  position: fixed;
}
#line {
  position: fixed;
  top: 60px;
  left: 204px;
  height: 100px;
  z-index: 10;
}

#record {
  width: 400px;
  height: 400px;
  top: 400px;
  left: 450px;
}

#recordPlayer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

nav {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  text-align: center;
}

body {
  z-index: 1;
}

@keyframes lineMove {
  0%{transform: translateX(0px);}
	25%{transform: translateX(40px);}
  50%{transform: translateX(0px);}
  75%{transform: translateX(-40px);}
  100%{transform: translateX(0px);}
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}

@keyframes shadowInOut {
  0% {
    width: 500px;
  }
  50% {
    width: 550px;
  }
  100% {
    width: 500px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


@keyframes giffy {
	0%   { background-image: url(cassettes/cassette1.gif); }
	10%  { background-image: url(cassettes/cassette2.gif); }
	20%  { background-image: url(cassettes/cassette3.gif);}
	30%  { background-image: url(cassettes/cassette4.gif); }
	40%  { background-image: url(cassettes/cassette5.gif); }
	50%  { background-image: url(cassettes/cassette6.gif);}
	60%  { background-image: url(cassettes/cassette7.gif); }
	70% { background-image: url(cassettes/cassette8.gif);}
  80% { background-image: url(cassettes/cassette9.gif);}
  90% { background-image: url(cassettes/cassette10.gif);}
  100% { background-image: url(cassettes/cassette11.gif);}
}
